<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input  type="text" class="form-control" placeholder="FullName"  aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" placeholder="Age"  aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input  type="text" class="form-control" placeholder="Address"  aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap ipu">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" placeholder="phone" aria-describedby="addon-wrapping">
</div>
<div>
  <button class="btn btn-primary"  routerlink="/students"> Log In</button>
</div>
